@using Online_Food_Ordering_System.View_Models
@model FoodCardVeiwModel

<form asp-controller="Cart" asp-action="Add" method="post" class="form" role="form" enctype="multipart/form-data">

<div class="product-card" id="@Model.FoodId">

    <div class="product-details">

        <div class="details-top-section">
            <div class="rating-container">
                <img src="~/Images/stare.png" class="stare" />
                <span class="rating">@Model.AvargeRating</span>
            </div>

            <div class="food-tag-container">
                <h1 class="food-tag">@Model.VegType</h1>
                <h1 class="food-tag">@Model.CType</h1>

            </div>
        </div>

        <div class="product-name">@Model.Name</div>

        <div class="details-down-section">
            <div class="proudect-price">@Model.Price</div>
            </input>
                <input type="hidden" asp-for="FoodId">
            <button type="submit" class="add-to-cart-button">
                <img src="~/Images/add-to-cart.png" style="height:21px" />
            </button>
        </div>


    </div>
    
    <img src="@(Model.Image.Replace("~" , ""))" class="food-imge" />
</div>
</form>

