@using Online_Food_Ordering_System.View_Models
@model FoodCardVeiwModel


<div class="product-card" id="card">

    <div class="product-details">

        <div class="details-top-section">
            <div class="rating-container">
                <img src="~/img/stare.png" class="stare" />
                <span class="rating">@Model.AvargeRating</span>
            </div>

            <div class="food-tag-container">
                <h1 class="food-tag">@Model.VegType</h1>
                <h1 class="food-tag">@Model.CType</h1>

            </div>
        </div>

        <div class="product-name">@Model.Name</div>

        <div class="details-down-section">
            <div class="proudect-price">@Model.Price</div>
            <button class="add-to-cart-button">
                <img src="~/img/add-to-cart.png" style="height:21px" />
            </button>
        </div>


    </div>
    
    <img src="@(Model.Image.Replace("~" , ""))" class="food-imge" />
</div>

